<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <h4 class="navbar-brand">My Site</h4>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#responsive-navbar-nav"
      aria-controls="responsive-navbar-nav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="responsive-navbar-nav">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="/"> Home </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/create-student"> Create Student </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/create-mentor"> Create Mentor </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/students"> Students </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/mentors"> Mentors </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
